.easy_and_fast_text{
  padding-left: 200px;
  grid-column: 2/7;
  margin-top: 190px;
    .label{
      font-family: $popins;
      font-weight: $font-medium;
      color: $grey;
      font-size: 18px;
      display: inline-block;
  }
  h2{
    margin-top: 20px;
  }
  .list{
    img{
      display: inline;
      height: 48px;

    }
    &>div{
      margin-top: 45px;
    }
    div div{
      display: inline-block;
      p{
        font-family: $popins;
        font-weight: $font-regular;
        color: $grey;
        font-size: 16px;
      }
      p.list-title{
        font-weight: $font-bold;
      }
    }
  }
  @media screen and (max-width: 1445px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 0px;
    text-align: center;
  }
  @media screen and (max-width: 550px) {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
.trip-to{
  grid-column: 7/11;
  margin-top: 190px;
  img{
    width: 100%;
  }

}
