.partenaires{
  grid-column: 2/12;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;

  img{
    height: 110px;
    transition: all 0.4s;
    &:hover{
      transform: scale(1.2);
      box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .qantas, .alitalia{
    height: 32px;
  }
  @media screen and (max-width: 1445px) {
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 80px;
  }
}
