.testimonials_text{
  padding-left: 200px;
  grid-column: 2/7;
  margin-top: 190px;

  .label{
    font-family: $popins;
    font-weight: $font-medium;
    color: $grey;
    font-size: 18px;
    display: inline-block;
  }

  h2{
    margin-top: 20px;
  }
  .circle{
    display: inline-block;
    margin-top: 90px;
    width: 15px;
    height: 15px;
    background: #E5E5E5;
    margin-right: 20px;
    border-radius: 50%;

  }
  .circle.circle--first{
    background-color: #39425D;
  }
  @media screen and (max-width: 1445px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-left: 0px;
  }
  @media screen and (max-width: 1445px) {
    margin-left: auto;
    margin-right: auto;
   width: 95%;
    text-align: center;
  }

}

.testimonials_illustration{
  grid-column: 7/12;
  margin-top: 190px;
  @media screen and (max-width: 1445px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 775px) {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
